<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>311215810331-b05s43r5p10vsps1em32jueolv7p0ce6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311215810331-b05s43r5p10vsps1em32jueolv7p0ce6</string>
	<key>API_KEY</key>
	<string>AIzaSyBqd3j0py-0KEqGVO8NmnzpYBUXnrCAWlM</string>
	<key>GCM_SENDER_ID</key>
	<string>311215810331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ait.easytimesheet</string>
	<key>PROJECT_ID</key>
	<string>easytimesheet-31310</string>
	<key>STORAGE_BUCKET</key>
	<string>easytimesheet-31310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311215810331:ios:625329cd912d12ca</string>
	<key>DATABASE_URL</key>
	<string>https://easytimesheet-31310.firebaseio.com</string>
</dict>
</plist>